---
import Card from "@/components/ui/Card.astro";
import Badge from "@/components/ui/Badge.astro";
import Button from "@/components/ui/Button.astro";

interface Props {
  title: string;
  description: string;
  stack: string[];
  year: number;
  status?: string;
  href?: string;
}

const {
  title,
  description,
  stack,
  year,
  status = "development",
  href,
} = Astro.props;
---

<Card>
  <div class="mb-md flex items-center justify-between">
    <Badge variant="primary">{year}</Badge>
    <div class="accent-dot accent-dot--secondary"></div>
  </div>

  <h3 class="text-primary mb-sm text-xl font-bold">{title}</h3>
  <p class="text-secondary mb-lg text-sm leading-relaxed">{description}</p>

  <div class="gap-sm mb-xl flex flex-wrap">
    {
      stack.map((tech, index) => (
        <Badge variant={index % 2 === 0 ? "primary" : "secondary"}>
          {tech}
        </Badge>
      ))
    }
  </div>

  <div class="pt-md mt-auto flex w-full items-center justify-between">
    <span class="text-800 rounded-full text-xs font-black text-green-800"
      >{status}</span
    >
    <Button variant="primary" size="sm" href={href}> Ver detalles </Button>
  </div>
</Card>
